<div class="container">
  <header class="text-center mt-4">
    <h1>VitaCare Clinic</h1>
    <nav class="d-flex justify-content-between navbarBG">
      <ul class="nav">
        <!-- Unregistered -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/" *ngIf='loggedInUserType === "none"'>Home</a>
        </li>
  
        <!-- Patient -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/" *ngIf='loggedInUserType === "patient"'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/patient" *ngIf='loggedInUserType === "patient"'>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/patient/doctors" *ngIf='loggedInUserType === "patient"'>Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/patient/appointments" *ngIf='loggedInUserType === "patient"'>Appointments</a>
        </li>
  
        <!-- Doctor -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/" *ngIf='loggedInUserType === "doctor"'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/doctor" *ngIf='loggedInUserType === "doctor"'>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doctor/appointments" *ngIf='loggedInUserType === "doctor"'>Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doctor/miscellaneous" *ngIf='loggedInUserType === "doctor"'>Miscellaneous</a>
        </li>
  
        <!-- Manager -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/" *ngIf='loggedInUserType === "manager"'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/manager/patients" *ngIf='loggedInUserType === "manager"'>Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manager/doctors" *ngIf='loggedInUserType === "manager"'>Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manager/requests" *ngIf='loggedInUserType === "manager"'>Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manager/appointments" *ngIf='loggedInUserType === "manager"'>Specializations and Appointments</a>
        </li>
      </ul>
      <ul class="nav">
        <!-- Unregistered -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" *ngIf='loggedInUserType === "none"'>Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf='loggedInUserType === "none"'>Login</a>
        </li>
  
        <!-- Others -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/changePassword" *ngIf='loggedInUserType != "none"'>Change Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout" *ngIf='loggedInUserType != "none"' style="cursor: pointer;" (click)="logout()">Logout ({{loggedInUser.firstname}})</a>
        </li>
      </ul>
    </nav>
  </header>
  
    <main class="mt-4">
        <h1 class="text-center mt-4">Hello {{loggedInUser.firstname}}!</h1>

        <h2 class="text-center mt-4">Our Doctors</h2>
        <div class="table-responsive mt-4">

        <!-- Search Input Fields and Button -->
        <div class="search-container mb-3">
          <br>
          <div class="input-group">
            &nbsp;&nbsp;
            <input type="text" class="form-control" placeholder="Search by Firstname" [(ngModel)]="searchFirstname">
            <input type="text" class="form-control" placeholder="Search by Lastname" [(ngModel)]="searchLastname">
            <input type="text" class="form-control" placeholder="Search by Specialization" [(ngModel)]="searchSpecialization">
            <input type="text" class="form-control" placeholder="Search by Branch" [(ngModel)]="searchBranch">
            &nbsp;<button (click)="search()" class="btn btn-primary">Search</button>
          </div>
        </div>

        <br>

        <!-- Table of Doctors -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Firstname - <button (click)="sortByFirstnameAsc()" class="buttonInTable">Sort Asc</button> | <button (click)="sortByFirstnameDesc()" class="buttonInTable">Sort Desc</button></th>
              <th>Lastname - <button (click)="sortByLastnameAsc()" class="buttonInTable">Sort Asc</button> | <button (click)="sortByLastnameDesc()" class="buttonInTable">Sort Desc</button></th>
              <th>Specialization - <button (click)="sortBySpecializationAsc()" class="buttonInTable">Sort Asc</button> | <button (click)="sortBySpecializationDesc()" class="buttonInTable">Sort Desc</button></th>
              <th>Branch - <button (click)="sortByBranchAsc()" class="buttonInTable">Sort Asc</button> | <button (click)="sortByBranchDesc()" class="buttonInTable">Sort Desc</button></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctor of allDoctors">

                <td class="align-middle"><a routerLink="/patient/doctor/{{doctor.username}}"><img height="50px" width="50px" src="{{getSelectedFileUrl(doctor.username)}}" alt="doctorImg">{{ doctor.firstname }}</a></td>
                <td class="align-middle">{{ doctor.lastname }}</td>
                <td class="align-middle">{{ doctor.specialization.name }}</td>
                <td class="align-middle">{{ doctor.branch }}</td> 
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
  
  <footer class="footer text-center mt-auto py-3">
    <p>Mladen Žurkić - PIA Projekat 2023.</p>
  </footer>